<?xml version="1.0" encoding="utf-8" ?>
<titlerewrite>
    <chars> 
        <begin> ,.，。</begin>  
        <end> ,.，。!</end>
        <anywhere>?！、</anywhere>
    </chars>
    <brackets>  
        <bracket>   
            <text>{},[],(),&lt;&gt;</text>  
            <pos>anywhere</pos>
            <reg>.*</reg>   
        </bracket>
        <bracket>   
            <text>【】,（）,《》,『』</text>
            <!--<pos>begin,end</pos>-->
            <pos>end</pos>
            <file>pat.reg</file>
        </bracket>
    </brackets>
    <element>ch,en,digit,ascii,other</element>
    <repetition>    
        <len>2</len>
        <times>3</times>
        <action>remove</action>
        <!--<action>reservelast</action>-->
    </repetition>
    <replaces>  
        <replace>   
            <from>…,_,-,|,：</from>
            <to>。</to>
        </replace>
        <replace>   
            <from>test,ceshi</from>
            <to>测试</to>
        </replace>
    </replaces>
    <outputencoding>gbk</outputencoding>  
</titlerewrite>


